.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Movie-card-title{
  display: block;
  font-weight: bold;
}

.Movie-card {
  height: 20vh;
  width: 40vh;
  display: inline-flex;
  text-align: center;
  margin: 3vh;
}

.Likes {
  border: 1px solid black;
  float: left;
  height: 5vh;
  background-color: green;

}
.Dislikes {
  border: 1px solid black;
  float: left;
  height: 5vh;
  background-color: red;

}

.Title-Category{
  display: inline-grid;
}

.Delete-Movie-Button {
  height: 5vh;
  width: 10vh;
  background-color: lightgrey;
  margin-right: 10vh;
  margin-top: 2vh;
}

.Toggle-Like-Button {
  margin-top: 2vh;
}

.Toggle-Like-Text{
  float: right;
  margin-right: 5vh;
}









